 <nav class="navbar navbar-dark bg-primary">
    
    <div class="container-fluid">
        <div class="d-flex justify-content-between">
            
              <a class ="navbar-brand text-bold" href="#">
                    <img src="assets/indianfood.png" width="100" height="50"> <br>
                    <span class="text-uppercase" style="color: black;">HungryPlace</span>
            </a>

           <ul>
            <li>
                  <a routerLink="/login">Login</a>
                  <!-- <button class="login">Login</button> -->
            </li>
           </ul>
          </div>
        
    
    </div>
    
    </nav>

